<h1>Listing logs</h1>

<table class='table table-striped table-bordered table-hover'>
<% @logs_each_tag.each do |tag, logs| %>
  <tr>
  <td>[<%= tag %>]</td>
  <% logs.each do |log| %>
      <td><%= log.contents_after_tags %></td>
  <% end %>
  </tr>
<% end %>
</table>
