<h1>Listing logs</h1>

<table class='table table-striped table-bordered table-hover'>
  <tr>
    <th>Contents</th>
    <th>Time</th>
    <th></th>
  </tr>

<% @logs.each do |log| %>
  <tr>
    <td><%= log.contents %></td>
    <td><%= log.time %></td>
    <td><%= link_to 'Show', log %></td>
  </tr>
<% end %>
</table>

<%= paginate @logs %>

<br />
